body {
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

input:focus, button:focus {
  outline: none;
}

.section {
  overflow-x: hidden;
  outline: none;
}

body {
  background-color: #fff;
}

.section-title {
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
}

.section-title::after {
  content: "";
  margin-top: 12px;
  display: block;
  height: 6px;
  background: url(../img/wavy-line.png) center no-repeat;
}

.button {
  background-color: #fa7995;
  border: 1px solid transparent;
  color: #ffffff;
  padding: 10px 22px;
  border-radius: 25px;
}

.button:hover {
  background-color: #fdc3cf;
  cursor: pointer;
}

.button img {
  vertical-align: middle;
}

.button-o {
  background-color: transparent;
  color: #373737;
  border: 1px solid rgba(55, 55, 55, 0.5);
}

.button-o:hover {
  color: #ffffff;
  background-color: #fb92a8;
  border: 1px solid transparent;
  cursor: pointer;
}

.slider-arrow1 {
  position: absolute;
  top: 0;
  width: 22px;
  height: 100%;
  z-index: 99;
}

.slider-arrow1_prod {
  border: 1px solid #fa7995;
}

.slider-arrow1:hover {
  cursor: pointer;
}

.slider-arrow1_left {
  left: 0;
  background: #fff url(../img/arrow-left.png) center no-repeat;
}

.slider-arrow1_left:hover {
  background: #fa7995 url(../img/arrow-left_active.png) center no-repeat;
}

.slider-arrow1_right {
  right: 0;
  background: #fff url(../img/arrow-right.png) center no-repeat;
}

.slider-arrow1_right:hover {
  background: #fa7995 url(../img/arrow-right_active.png) center no-repeat;
}

.dark-bg {
  position: relative;
  z-index: 2;
}

.dark-bg::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.tooltip {
  font-size: 20px;
  color: red;
}

.tooltip-inner {
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.arrow {
  color: red;
  background-color: yellow;
}

.tooltip.right .tooltip.left .tooltip-arrow {
  display: none;
  color: red !important;
  background-color: yellow !important;
  border-top: 5px solid red;
  border-right: 5px solid #FF0000 !important;
  border-left: 5px solid #FF0000;
  border-top-color: red;
  border-right-color: red;
  border-left-color: red;
}

.btn-block {
  padding-top: 10px;
  padding-bottom: 10px;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.btn-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px black dotted;
  background-color: #fff;
}

.menu-el {
  text-align: center;
  margin: 0 auto;
}

.menu__head {
  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: 22px;
}

.menu-left {
  float: left;
  padding-top: 10px;
  width: 150px;
  height: 100%;
  background-color: #f9f9f9;
}

.menu-left ul {
  list-style: none;
  padding-left: 0;
}

.menu-left ul li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-left ul li:hover {
  background-color: #f0f0f0;
  border-left: 5px #f97b93 solid;
}

.menu-left ul li a {
  color: #000000;
}

.menu-left ul li a:hover {
  background-color: #f0f0f0;
  text-decoration: none;
  color: #000000;
}

.menu-ext {
  width: 100%;
  z-index: 100;
}

.menu-ext__head {
  height: 50px;
  top: 0;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.menu-ext__head ul {
  margin-bottom: 20px;
  padding-bottom: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.menu-ext__head ul li {
  padding-bottom: 0;
}

.menu-ext__head ul li a {
  color: #fff;
  text-decoration: none;
}

.menu-ext__head ul li a:hover {
  cursor: pointer;
  color: #fa7995;
}

.menu-ext__foot {
  background-color: #333333;
  padding-bottom: 20px;
}

.menu-ext__foot ul {
  padding-bottom: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.menu-ext__foot ul li {
  padding-bottom: 0;
}

.menu-ext__foot ul li a {
  color: #ffffff;
  text-decoration: none;
}

.menu-ext__foot ul li a:hover {
  cursor: pointer;
  color: #fa7995;
}

.menu-build {
  background-color: #333333;
}

.menu-build__head {
  background-color: #333333;
  padding-bottom: 20px;
}

.menu-build__head ul {
  padding-bottom: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.menu-build__head ul li {
  padding-bottom: 0;
}

.menu-build__head ul li a {
  color: #ffffff;
  text-decoration: none;
}

.menu-build__head ul li a:hover {
  cursor: pointer;
  color: #fa7995;
}

.header {
  background: url("../img/bg.jpg") center no-repeat;
  background-size: cover;
  color: #ffffff;
}

.footer {
  margin-top: 200px;
  padding-top: 36px;
  padding-bottom: 39px;
  text-align: center;
  background-color: #333333;
}

.footer-text {
  padding-top: 25px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  border-top: 2px #999999 solid;
}

.fscreen {
  margin-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.fscreen-slider__dots {
  position: absolute;
  top: 50px;
  right: -50px;
}

.fscreen-slider__dots__app {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.slick-dots {
  position: absolute;
  top: 50px;
  right: -50px;
}

.slick-dots li button {
  display: none;
}

.slick-dots ul {
  list-style-type: circle;
}

.builder04 {
  padding-top: 150px;
  text-align: center;
}

.builder04-page {
  margin-bottom: 150px;
}

.video-youtube {
  margin: auto;
  text-align: center;
}

.videoWidget-form {
  margin-top: 50px;
  padding: 20px;
  background-color: #faf8f9;
}

.s03-tools {
  font-family: "Amsdam cyr-lat";
  font-size: 28px;
  font-weight: bold;
  line-height: 30px;
}

.s03-tools h2 {
  font-family: "Amsdam cyr-lat";
  font-size: 28px;
  font-weight: bold;
  line-height: 30px;
}
