* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  height: 100%;
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
}

input, button {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:focus, button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:invalid, button:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

section {
  overflow-x: hidden;
  outline: none;
}

h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

.mb100 {
  margin-bottom: 100px;
}

.mb200 {
  margin-bottom: 200px;
}

body {
  background-color: #fff;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section {
  text-align: center;
}

.section-title {
  margin-bottom: 20px;
  color: #333333;
  font-family: "Amsdam cyr-lat";
  font-size: 28px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}

.section-title::after {
  content: "";
  margin-top: 25px;
  display: block;
  height: 6px;
  background: url("../img/01_main/pink-line.svg") center no-repeat;
}

.section-title__build {
  color: #484848;
}

.section-subtitle {
  margin: auto;
  margin-bottom: 40px;
  max-width: 80%;
  color: #333333;
  font-family: 'Proxima Nova';
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.section-subtitle-builder {
  max-width: 430px;
}

.button {
  min-height: 50px;
  font-family: "Proxima Nova Semibold";
  font-size: 15px;
  font-weight: 400;
  background-color: #fa7995;
  border: 1px solid transparent;
  color: #ffffff;
  padding: 5px 35px;
  border-radius: 25px;
}

.button:hover {
  background-color: #fcaabc;
  cursor: pointer;
}

.button img {
  vertical-align: middle;
}

.button-o {
  background-color: transparent;
  color: #373737;
  border: 1px solid rgba(55, 55, 55, 0.5);
}

.button-o:hover {
  color: #ffffff;
  background-color: #fb92a8;
  border: 1px solid transparent;
  cursor: pointer;
}

.button-hel {
  color: #ffffff;
  font-family: "Helvetica Neue Cyr";
  font-size: 16px;
  font-weight: 700;
}

.button-small {
  min-height: 40px;
}

.dark-bg {
  position: relative;
  z-index: 2;
}

.dark-bg::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.dark-bg3::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.dark-bg5::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.dark-bg8::before {
  background-color: rgba(0, 0, 0, 0.8);
}

.grad {
  position: relative;
  z-index: 2;
}

.grad::after {
  content: '';
  background: -webkit-gradient(linear, left top, right bottom, from(#89d8f7), to(#ffc4ce));
  background: -webkit-linear-gradient(top left, #89d8f7, #ffc4ce);
  background: -o-linear-gradient(top left, #89d8f7, #ffc4ce);
  background: linear-gradient(to bottom right, #89d8f7, #ffc4ce);
  position: absolute;
  display: inline-block;
  opacity: 0.3;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.player {
  background: url("../img/01_main/2.video/video.jpg");
  background-size: cover;
  z-index: 555;
}

.tooltip {
  font-size: 20px;
  color: red;
}

.tooltip-inner {
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.tooltip.right .tooltip.left .tooltip-arrow {
  display: none;
}

.menu-el {
  text-align: center;
  margin: 0 auto;
}

.menu-el__img {
  padding: 10px;
  width: 50px;
  height: 50px;
  border: 1px #333333 solid;
  margin-bottom: 5px;
}

.menu-el__text {
  color: #333333;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
}

.menu__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: 22px;
  font-family: "Proxima Nova Semibold";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.menu__head-button {
  height: 42px;
  padding: 10px 35px;
}

.menu__foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Proxima Nova Semibold";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.menu__foot-button {
  height: 42px;
  padding: 10px 35px;
}

.menu-ext {
  width: 100%;
  z-index: 100;
}

.menu-ext__head {
  height: 50px;
  top: 0;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.menu-ext__head ul {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.menu-ext__head ul li {
  padding-bottom: 0;
}

.menu-ext__head ul li a {
  color: #fff;
  text-decoration: none;
}

.menu-ext__head ul li a:hover {
  cursor: pointer;
  color: #fa7995;
}

.menu-ext__foot {
  padding-bottom: 20px;
}

.menu-ext__foot ul {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.menu-ext__foot ul li {
  padding-bottom: 0;
}

.menu-ext__foot ul li a {
  color: #ffffff;
  text-decoration: none;
}

.menu-ext__foot ul li a:hover {
  cursor: pointer;
  color: #fa7995;
}

.menu-link {
  z-index: 99500;
  display: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px #ffffff solid;
  position: fixed;
  top: 20px;
  left: 10px;
}

.menu-link span, .menu-link span:before, .menu-link span:after {
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
  background-color: #333;
}

.menu-link span:before {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  content: "";
  margin-top: -6px;
}

.menu-link span:after {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  content: "";
  margin-top: 4px;
}

.menu-link_active span {
  background-color: transparent;
}

.menu-link_active span:before {
  background-color: #faf8f9;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: 0;
}

.menu-link_active span:after {
  background-color: #faf8f9;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: 0;
}

.menu-mobil {
  z-index: 99490;
  background-color: #333333;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  left: -100vw;
}

.menu-mobil ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.menu-mobil ul li {
  width: 100vw;
}

.menu-mobil ul a {
  display: block;
  width: 100%;
  color: #ffffff;
  line-height: 2;
  font-weight: 100;
  letter-spacing: 4px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-mobil ul a:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #333333;
  text-decoration: none;
}

.menu-mobil_active {
  left: 0;
}

.header {
  position: relative;
  background: url("../img/01_main/1.head/bg-grad.jpg") center no-repeat;
  background-size: cover;
  height: 100%;
  color: #ffffff;
  text-align: center;
}

.header img {
  margin: auto;
}

.header-logo {
  background: transparent url("../img/logo-mywedding.png") center no-repeat;
  background-background-size: 100%;
  width: 211px;
  height: 34px;
  z-index: 15;
}

.footer {
  padding-top: 36px;
  padding-bottom: 39px;
  text-align: center;
  background: #333333 url("../img/bg-menu__bottom.jpg") center no-repeat;
  background-size: cover;
}

.footer-text {
  padding-top: 25px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  border-top: 2px #999999 solid;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
}

.footer-logo {
  background: transparent url("../img/logo-mywedding.png") center no-repeat;
  background-background-size: 100%;
  width: 211px;
  height: 34px;
  z-index: 15;
}

.fscreen {
  position: relative;
  margin-top: 100px;
  padding-bottom: 30px;
  text-align: center;
  outline: none;
}

.fscreen-slider__dots {
  position: absolute;
  top: 256px;
  right: 20px;
  z-index: 200;
  font-size: 24px;
}

.fscreen-slider__dots .slick-active {
  color: #f4c6d2;
}

.fscreen-slider__dots li {
  width: 0;
  height: 15px;
  color: #ad8883;
  list-style-type: disc;
}

.fscreen-slider__dots li button {
  display: none;
}

.fscreen-text__title {
  margin-bottom: 30px;
  font-family: "Proxima Nova";
  font-size: 48px;
  font-weight: bold;
  line-height: 30px;
}

.fscreen-text__subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
}

.fscreen-text__text {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  margin-bottom: 70px;
}

.fscreen-text__button {
  margin-bottom: 10px;
}

.fscreen-mouse {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 50px;
}

.first-slide {
  outline: none;
  margin-bottom: 80px;
}

.s02video-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s02video-bird {
  margin-top: 30px;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.s02video-player {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  width: 100%;
}

#player {
  max-width: 500px;
  height: auto;
  background-image: url("http://begi-motik.ru/wedding/img/01_main/2.video/video-wa.jpg");
}

.s03tools {
  background-color: #faf8f9;
  text-align: center;
}

.s03tools-block {
  border: 1px solid transparent;
  margin-bottom: 60px;
}

.s03tools-block__title {
  color: #484848;
  font-family: "Proxima Nova Bold";
  font-size: 18px;
  font-weight: 700;
}

.s03tools-block__text {
  color: #333333;
  font-size: 16px;
  font-family: "Proxima Nova";
}

.s03tools-block:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.s03tools-text {
  color: #333333;
  font-family: "Proxima Nova Semibold";
  font-size: 21px;
  font-weight: 600;
}

.s03tools img {
  margin-bottom: 15px;
  min-height: 70px;
}

.s03tools a:hover {
  text-decoration: none;
}

.s04samples {
  text-align: center;
}

.s04samples img {
  margin-bottom: 55px;
}

.s04samples img:hover {
  cursor: url("../cur/magnify.cur"), pointer;
}

.s04samples-button {
  margin-top: 40px;
}

.s05tarifs {
  background-color: #faf8f9;
}

.s05tarifs-block {
  text-align: center;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 40px;
  min-height: 45px;
}

.s05tarifs ul {
  text-align: left;
  margin-bottom: 40px;
  color: #525252;
  font-family: "Proxima Nova Semibold";
  font-size: 16px;
  font-weight: 400;
  min-height: 240px;
}

.s05tarifs-button {
  font-family: "Helvetica Neue Cyr";
  font-size: 16px;
  font-weight: 700;
}

.s05tarifs-button__basic {
  background-color: #7c7c7c;
}

.s05tarifs-button__silver {
  background-color: #69c2f5;
}

.s05tarifs-button__gold {
  background-color: #70cb83;
}

.s05tarifs-title {
  margin-bottom: 30px;
  font-family: "Proxima Nova Bold";
  font-size: 24px;
  font-weight: bold;
  min-height: inherit;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px #ebebeb solid;
}

.s05tarifs-title__basic {
  color: #7c7c7c;
}

.s05tarifs-title__silver {
  color: #69c2f5;
}

.s05tarifs-title__gold {
  color: #70cb83;
}

.s05tarifs-title__gold-flag {
  position: absolute;
  content: '';
  top: 0px;
  right: 30px;
}

.s05tarifs-price {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px;
  color: #333333;
  font-family: "Proxima Nova Semibold";
  font-size: 26px;
  font-weight: 400;
}

.s06about-title {
  margin-top: 20px;
  color: #333333;
  font-family: "Proxima Nova Bold";
  font-size: 18px;
  font-weight: 700;
}

.s06about-text {
  color: #484848;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.s07contacts {
  background-color: #faf8f9;
  padding-top: 40px;
  padding-bottom: 20px;
}

.s07contacts-name {
  background: #fff url("../img/01_main/7.contacts/icon1.png") no-repeat scroll 8px 14px;
}

.s07contacts-email {
  background: #fff url("../img/01_main/7.contacts/icon2.png") no-repeat scroll 8px 14px;
}

.s07contacts-message {
  padding-left: 35px;
  background: #fff url("../img/01_main/7.contacts/icon3.png") no-repeat scroll 8px 8px;
}

.s07contacts-inputs {
  vertical-align: middle;
  height: 100%;
}

.s07contacts textarea {
  border: 1px #ededed solid;
  resize: none;
  height: 145px;
  width: 100%;
}

.s07contacts textarea:placeholder {
  vertical-align: middle;
}

.s07contacts input {
  border: 1px #ededed solid;
  padding-left: 35px;
  width: 100%;
  height: 50px;
}

.s07contacts label {
  padding-bottom: 10px;
  margin-left: 15px;
  color: #b6b6b6;
}

.s08social {
  background-color: #faf9f9;
  padding-top: 20px;
}

.s08social-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
  font-family: "Proxima Nova Semibold";
  font-size: 21px;
  font-weight: 400;
  line-height: 2;
}

.s08social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 7px;
  padding: 5px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  border-radius: 7px;
}

.s08social-block__mobile {
  width: 64px;
  height: 64px;
}

.s08social-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.s08social-blocks__mobile {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: none;
}

.s08social-block1 {
  background-color: #21579f;
}

.s08social-block1:hover {
  background-color: #2a6ec9;
}

.s08social-block2 {
  background-color: #4c77a4;
}

.s08social-block2:hover {
  background-color: #6991ba;
}

.s08social-block3 {
  background-color: #f68529;
}

.s08social-block3:hover {
  background-color: #f8a15a;
}

.s08social-block4 {
  background-color: #943ba7;
}

.s08social-block4:hover {
  background-color: #af53c2;
}

.s08social-block5 {
  background-color: #e61f19;
}

.s08social-block5:hover {
  background-color: #eb4c47;
}

.s08social-block__img {
  padding: 10px 12px;
  border-right: 1px #fff solid;
}

.s08social-block__text {
  color: #ffffff;
  text-align: center;
  margin: auto;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: normal;
  line-height: 21px;
}

.tnx-frm {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.4);
}

.tnx-popup {
  position: fixed;
  left: 50%;
  top: 100px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
}

.tnx-close {
  position: absolute;
  font-size: 35px;
  color: #fff;
  right: -20px;
  top: -37px;
  font-weight: 300;
  cursor: pointer;
}

.tnx-title {
  width: 100%;
  min-height: 71px;
  margin: 0;
  background-color: #fa7995;
  color: #fff;
  text-transform: uppercase;
  line-height: 71px;
  font-size: 21px;
  font-weight: 500;
  text-align: center;
}

.tnx-form {
  background-size: cover;
  padding: 35px 40px 45px 40px;
  color: #fa7995;
  text-align: center;
}

.tnx-form-header {
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

.tnx-form__btn {
  width: 180px;
  height: 56px;
  margin: 20px auto;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.menu-build__head {
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 150px;
  vertical-align: middle;
  text-align: center;
  background: #333333 url("../img/bg-menu__top.jpg") center no-repeat;
  background-size: cover;
}

.menu-build__top ul {
  padding-bottom: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.menu-build__top ul li {
  padding-bottom: 0;
}

.menu-build__top ul li a {
  color: #ffffff;
  text-decoration: none;
}

.menu-build__top ul li a:hover {
  cursor: pointer;
  color: #fa7995;
}

.menu-build-button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.menu-build-button-pink {
  color: #fa7995;
  border: 1px solid #fa7995;
}

.menu-link-b {
  z-index: 500;
  display: none;
  width: 50px;
  height: 50px;
  background-color: #faf8f9;
  border-radius: 50%;
  border: 1px #ffffff solid;
  position: absolute;
  top: 12px;
  left: 30px;
}

.menu-link-b span, .menu-link-b span:before, .menu-link-b span:after {
  color: #000;
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
  background-color: #333;
}

.menu-link-b span:before {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  content: "";
  margin-top: -6px;
}

.menu-link-b span:after {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  content: "";
  margin-top: 4px;
}

.menu-link-b_active span {
  background-color: transparent;
}

.menu-link-b_active span:before {
  background-color: #333;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: 0;
}

.menu-link-b_active span:after {
  background-color: #333;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: 0;
}

.menu-mobil-b {
  z-index: 490;
  background-color: #333333;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  left: -100vw;
}

.menu-mobil-b ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.menu-mobil-b ul li {
  width: 100vw;
}

.menu-mobil-b ul a {
  display: block;
  width: 100%;
  color: #ffffff;
  line-height: 2;
  font-weight: 100;
  letter-spacing: 4px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-mobil-b ul a:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #333333;
  text-decoration: none;
}

.menu-mobil-b_active {
  left: 0;
}

.menu-build__foot {
  text-align: center;
}

.menu-build__bottom {
  padding-top: 20px;
}

.menu-build__bottom ul {
  padding-bottom: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.menu-build__bottom ul li {
  padding-bottom: 0;
}

.menu-build__bottom ul li a {
  color: #ffffff;
  text-decoration: none;
}

.menu-build__bottom ul li a:hover {
  cursor: pointer;
  color: #fa7995;
}

.menu-left {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  height: 100%;
  background-color: #f9f9f9;
}

.menu-left ul {
  list-style: none;
  padding-left: 0;
}

.menu-left ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 1px #333333 solid;
  border-left: 3px #faf9f9 solid;
}

.menu-left ul li:hover {
  background-color: #f0f0f0;
  border-left: 3px #f97b93 solid;
}

.menu-left ul li a {
  color: #000000;
}

.menu-left ul li a:hover {
  background-color: #f0f0f0;
  text-decoration: none;
  color: #000000;
}

.section-builder {
  margin-left: 150px;
}

.builder-menu {
  position: absolute;
  width: 150px;
  top: 60px;
  left: 0;
}

.builder-footer {
  bottom: 0;
  left: 0;
  width: 100vw;
  background: #333333 url("../img/bg-menu__bottom.jpg") center no-repeat;
  background-size: cover;
}

.footer-text {
  height: 70px;
  text-align: center;
  opacity: 0.5;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
}

.btn-block {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 4px;
  margin-right: 4px;
  text-align: center;
  vertical-align: middle;
  background-color: #333333;
  color: #ffffff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: 700;
}

.btn-block:hover {
  cursor: pointer;
  color: #fa7995;
}

.btn-blocks {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px black dotted;
  background-color: #fff;
}

.btn-block1 {
  width: 120px;
}

.btn-block2 {
  width: 40px;
}

.btn-block3 {
  width: 40px;
}

.btn-block4 {
  width: 40px;
}

.p02auth {
  background: pink url("../img/02_auth/bg.jpg") center no-repeat;
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 199999;
}

.p02auth-title {
  color: #333333;
  font-family: "Amsdam cyr-lat";
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.p02auth-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.p02auth-img {
  width: 318px;
  height: 430px;
  background: pink url("../img/02_auth/picture.jpg") center no-repeat;
}

.p02auth-form {
  color: #ffffff;
  padding-left: 30px;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.p02auth-name {
  background: url("../img/02_auth/pic1.png") no-repeat scroll 7px 10px;
}

.p02auth-phone {
  background: url("../img/02_auth/pic2.png") no-repeat scroll 7px 10px;
}

.p02auth-email {
  background: url("../img/02_auth/pic3.png") no-repeat scroll 7px 10px;
}

.p02auth__input {
  height: 50px;
  padding-left: 35px;
  color: #606060;
  border: 1px #ededed solid;
  font-family: "Proxima Nova Light";
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

.p02auth-forget {
  text-align: center;
}

.p02auth-forget__link {
  text-decoration: none;
  opacity: 0.5;
  color: #333333;
  font-family: "Proxima Nova Bold";
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}

.p02auth-btn {
  font-family: "Proxima Nova Semibold";
  font-size: 15px;
  text-transform: uppercase;
}

.p02auth-btn-o {
  border: 1px solid #333333;
  background-color: #faf9f9;
  color: #333333;
  font-family: "Proxima Nova Semibold";
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.ppp {
  position: fixed;
  left: 50%;
  top: 0px;
  width: 750px;
  -webkit-transform: translate(-50%, 35%);
      -ms-transform: translate(-50%, 35%);
          transform: translate(-50%, 35%);
  background-color: #fff;
  z-index: 9999;
}

.ppp-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #faf9f9;
  color: #ffffff;
}

.ppp-close {
  position: absolute;
  font-size: 35px;
  color: #fff;
  right: -30px;
  top: -50px;
  font-weight: 300;
  cursor: pointer;
}

.p04builder img {
  margin-bottom: 14px;
}

.p04builder img:hover {
  cursor: url("../cur/magnify.cur"), pointer;
}

.p04builder-img {
  text-align: center;
  margin-bottom: 35px;
  padding-bottom: 20px;
  border: 1px  #ebebeb solid;
}

.p04builder-btn {
  background-color: #fff;
  color: #333333;
  border: 1px solid #333333;
}

.p05invitation-img {
  background: pink url("../img/05_Invitation/flowers-card.jpg") center no-repeat;
  background-size: cover;
  height: 500px;
  max-width: 850px;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  position: relative;
  text-align: center;
}

.p05invitation-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p05invitation-birds {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.p05invitation-card {
  vertical-align: middle;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 0;
  width: 100%;
}

.p05invitation-card__title {
  margin: auto;
  margin-bottom: 10px;
  max-width: 440px;
  color: #222222;
  font-family: "Museo Cyrl 100";
  font-size: 22px;
  font-weight: bold;
}

.p05invitation-card__names {
  margin-top: 15px;
  margin-bottom: 25px;
  color: #fa7995;
  font-family: "Museo Cyrl 100";
  font-size: 56px;
  font-weight: bold;
  line-height: 30px;
}

.p05invitation-card__date {
  margin-bottom: 25px;
  color: #222222;
  font-family: "Museo Cyrl 100";
  font-size: 34px;
  font-weight: bold;
  line-height: 30px;
}

.p05invitation-card__address {
  color: #222222;
  font-family: "Museo Cyrl 100";
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
}

.p06guestList-row {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 400px;
}

.p06guestList-img {
  width: auto;
}

.p06guestList-guest {
  margin-bottom: 7px;
  margin-left: 30px;
  color: #525252;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
}

.p06guestList-guests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p06guestList-form {
  margin-top: 100px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #faf9f9;
  padding-left: 20px;
  padding-right: 20px;
}

.p06guestList-form__label {
  color: #333333;
  font-family: "Proxima Nova";
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
}

.p06guestList-form__name {
  height: 50px;
  padding-left: 15px;
  background-color: #fff;
  color: #606060;
  border: 1px #ededed solid;
  width: 30%;
}

.p06guestList-form__name:placeholder {
  color: #606060;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

.p07locationMap-tabs {
  text-align: center;
}

.p07locationMap-form {
  margin-top: 100px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
  background-color: #faf9f9;
}

.p07locationMap-form__label {
  width: 70%;
  margin-bottom: 20px;
  color: #333333;
  font-family: "Proxima Nova";
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
}

.p07locationMap-form__name {
  width: 70%;
  height: 50px;
  padding-left: 15px;
  border: 1px #ededed solid;
  width: 70%;
}

.p07locationMap-form__name:placeholder {
  color: #606060;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

.p07locationMap-button-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: -2px;
}

.p07locationMap-button-right {
  margin-left: -2px;
  border-left: 0px  #fff solid;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button-wobr {
  margin-bottom: 30px;
}

.p09photoAlbum {
  text-align: center;
  max-width: 90%;
  width: 100%;
}

.p09photoAlbum img:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.p09photoAlbum-button-wobr {
  margin-bottom: 20px;
}

.p09photoAlbum-button-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: -2px;
}

.p09photoAlbum-button-right {
  margin-left: -2px;
  border-left: 0px  #fff solid;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.p09photoAlbum-form {
  margin-top: 50px;
  margin-bottom: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #faf9f9;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.p09photoAlbum-form__title {
  text-align: center;
  color: #333333;
  font-family: "Proxima Nova";
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 25px;
}

.p09photoAlbum-form__name {
  width: 45%;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px #ededed solid;
  width: 30%;
}

.p09photoAlbum-form__name:placeholder {
  color: #606060;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

.p09photoAlbum-form__browse {
  width: 45%;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px #ededed solid;
  background-color: #ededed;
  padding-top: 15px;
  color: #606060;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

.p09photoAlbum-form__button {
  margin: auto;
  margin-top: 20px;
  text-align: center;
  display: block;
}

.p09photoAlbum-photos {
  vertical-align: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p09photoAlbum-photos-block {
  position: relative;
}

.p12bookWishes {
  text-align: center;
}

.p12bookWishes-img {
  background: pink url("../img/05_Invitation/flowers-card.jpg") center no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  text-align: center;
}

.p12bookWishes-fline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p12bookWishes-pinkline {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  background-color: #fa7a95;
  color: #fa7a95;
  height: 1px;
}

.p12bookWishes-gratu {
  margin-bottom: 35px;
  color: #fa7995;
  font-family: "Museo Cyrl 100";
  font-size: 21px;
  font-weight: bold;
}

.p12bookWishes-card {
  padding-top: 80px;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  top: 0;
  left: 0;
  max-width: 600px;
}

.p12bookWishes-card__title {
  margin-bottom: 25px;
  color: #222222;
  font-family: "Museo Cyrl 100";
  font-size: 24px;
  font-weight: bold;
}

.p12bookWishes-card__text {
  color: #484848;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.p12bookWishes-blockNew {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p12bookWishes-inputs {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  background-color: #faf9f9;
}

.p12bookWishes-inputs__title {
  margin-bottom: 20px;
  color: #333333;
  font-family: "Proxima Nova Rg";
  font-size: 21px;
  font-weight: bold;
}

.p12bookWishes-inputs__from {
  height: 50px;
  padding-left: 15px;
  border: 1px #ededed solid;
  margin-bottom: 10px;
}

.p12bookWishes-inputs__from:placeholder {
  color: #606060;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 300;
}

.p12bookWishes-inputs__head {
  height: 50px;
  padding-left: 15px;
  border: 1px #ededed solid;
  margin-bottom: 10px;
}

.p12bookWishes-inputs__head:placeholder {
  color: #606060;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 300;
}

.p12bookWishes-inputs__text {
  height: 130px;
  padding-left: 15px;
  border: 1px #ededed solid;
  margin-bottom: 25px;
}

.p12bookWishes-inputs__text:placeholder {
  color: #606060;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 300;
}

.p12bookWishes-inputs__button {
  margin: auto;
  color: #ffffff;
  font-family: "Proxima Nova Semibold";
  font-size: 15px;
  font-weight: 400;
  line-height: 23.4px;
  text-transform: uppercase;
}

.p12bookWishes-circleButton {
  padding-top: 10px;
  border-radius: 50%;
  border-color: #efeeee;
  background-color: transparent;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 1px 1px 10px #efeeee;
          box-shadow: 1px 1px 10px #efeeee;
  color: #333333;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.p12bookWishes-slider {
  outline: none;
}

.p12bookWishes-slider-arrow_left {
  left: 0;
  background: #fff url(../img/arrow-left.png) center no-repeat;
}

.p12bookWishes-slider-arrow_left:hover {
  background: #fa7995 url(../img/arrow-left_active.png) center no-repeat;
}

.p12bookWishes-slider-arrow_right {
  right: 0;
  background: #fff url(../img/arrow-right.png) center no-repeat;
}

.p12bookWishes-slider-arrow_right:hover {
  background: #fa7995 url(../img/arrow-right_active.png) center no-repeat;
}

.p12bookWishes-slider__dots {
  z-index: 200;
}

.p12bookWishes-slider__dots .slick-active {
  color: #f4c6d2;
}

.p12bookWishes-slider__dots li button {
  display: none;
}

.slick-slide {
  outline: none;
}

.p14letterGuests-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p14letterGuests-img {
  width: 360px;
  margin-left: 20px;
}

.p14letterGuests-block {
  margin-left: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.p14letterGuests-block__title {
  font-family: "Proxima Nova Rg";
  font-size: 17px;
  font-weight: 700;
}

.p14letterGuests-block__text {
  color: #484848;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  font-family: "Proxima Nova Lt";
}

.p14letterGuests-form {
  margin-top: 100px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #faf9f9;
}

.p14letterGuests-form textarea {
  resize: none;
}

.p14letterGuests-form-inputs {
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.p14letterGuests-form__title {
  color: #333333;
  font-family: "Proxima Nova Rg";
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
}

.p14letterGuests-form__titlediv {
  margin-bottom: 20px;
  text-align: center;
}

.p14letterGuests-form__name {
  height: 50px;
  padding-left: 15px;
  border: 1px #ededed solid;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.p14letterGuests-form__name:placeholder {
  color: #606060;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

.p14letterGuests-form__browse {
  height: 50px;
  padding-left: 15px;
  border: 1px #ededed solid;
  padding-top: 15px;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  background-color: #ededed;
  color: #606060;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

.p14letterGuests-form__button {
  margin: auto;
  margin-top: 20px;
  text-align: center;
  display: block;
}

.p14letterGuests-form-demand {
  margin-left: 50px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.p14letterGuests-form-demand__title {
  height: 50px;
  padding-left: 15px;
  border: 1px #ededed solid;
  margin-bottom: 20px;
}

.p14letterGuests-form-demand__text {
  padding-left: 15px;
  border: 1px #ededed solid;
}

.p19youtubeVideo {
  text-align: center;
}

.p19youtubeVideo-player {
  background-image: url("http://begi-motik.ru/wedding/img/01_main/2.video/video-wa.jpg");
}

.p19youtubeVideo-form {
  margin-top: 100px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #faf9f9;
}

.p19youtubeVideo-form__label {
  margin-bottom: 50px;
  color: #333333;
  font-family: "Proxima Nova Rg";
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
}

.p19youtubeVideo-form__name {
  height: 50px;
  padding-left: 15px;
  border: 1px #ededed solid;
  width: 40%;
}

.p19youtubeVideo-form__name:placeholder {
  color: #606060;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

.ytp-cued-thumbnail-overlay-image {
  background-image: url("http://begi-motik.ru/wedding/img/01_main/2.video/video-wa.jpg");
}

.ytp-cued-thumbnail-overlay {
  background-image: url("http://begi-motik.ru/wedding/img/01_main/2.video/video-wa.jpg");
}

#p19player {
  background-image: url("http://begi-motik.ru/wedding/img/01_main/2.video/video-wa.jpg");
}

.s05tarifs-modal {
  background: pink url("../img/02_auth/bg.jpg") center no-repeat;
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 199999;
}

.s05tarifs-modal-title {
  color: #333333;
  font-family: "Amsdam cyr-lat";
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.s05tarifs-modal-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s05tarifs-modal-img {
  width: 318px;
  height: 430px;
  background: pink url("../img/02_auth/picture.jpg") center no-repeat;
}

.s05tarifs-modal-form {
  color: #ffffff;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.s05tarifs-modal-name {
  background: #fff url("../img/02_auth/pic1.png") no-repeat scroll 7px 10px;
}

.s05tarifs-modal-phone {
  background: #fff url("../img/02_auth/pic2.png") no-repeat scroll 7px 10px;
}

.s05tarifs-modal__input {
  height: 50px;
  padding-left: 35px;
  color: #606060;
  border: 1px #ededed solid;
  font-family: "Proxima Nova Light";
  font-size: 15px;
  font-weight: 300;
}

.s05tarifs-modal__input-rb {
  color: #333333;
}

.s05tarifs-modal__input-rb p {
  display: inline-block;
  padding-left: 35px;
  margin-bottom: 0;
}

.s05tarifs-modal-btn {
  font-family: "Proxima Nova Semibold";
  font-size: 15px;
  text-transform: uppercase;
}

.s05ppp {
  position: fixed;
  left: 50%;
  top: 0px;
  width: 750px;
  -webkit-transform: translate(-50%, 35%);
      -ms-transform: translate(-50%, 35%);
          transform: translate(-50%, 35%);
  background-color: #fff;
  z-index: 9999;
}

.s05ppp-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #faf9f9;
  color: #ffffff;
}

.s05ppp-close {
  position: absolute;
  font-size: 35px;
  color: #fff;
  right: -30px;
  top: -50px;
  font-weight: 300;
  cursor: pointer;
}

.videoWidget-form {
  margin-top: 50px;
  padding: 20px;
  background-color: #faf8f9;
}

.ytp-cued-thumbnail-overlay {
  background-image: url("http://begi-motik.ru/wedding/img/01_main/2.video/video.jpg");
}

.ytp-cued-thumbnail-overlay-image {
  background-image: url("http://begi-motik.ru/wedding/img/01_main/2.video/video.jpg");
}

@media (max-width: 1200px) {
  .s07contacts textarea {
    width: 100%;
  }
  .s02video-bird {
    width: 20%;
    height: 20%;
  }
  .section-subtitle {
    max-width: 80%;
  }
  .p05invitation-birds {
    display: none;
  }
  .p05invitation-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .p05invitation-img {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 80%;
  }
  .p06guestList-img {
    display: none;
  }
  .p06guestList-guests {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .p07locationMap-form__name {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin-bottom: 40px;
  }
  .p07locationMap-button {
    display: block;
  }
  .p14letterGuests-img {
    width: 30%;
  }
  .p14letterGuests-form__browse {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  #p19player {
    max-width: 90%;
    height: auto;
  }
}

@media (max-width: 991px) {
  .mb100 {
    margin-bottom: 30px;
  }
  .mb200 {
    margin-bottom: 50px;
  }
  .mb300 {
    margin-bottom: 50px;
  }
  .hide-mobile {
    display: none;
  }
  .show-mobile {
    display: block;
  }
  .header-logo {
    background: transparent url("../img/logo.png") center no-repeat;
    width: 50px;
  }
  .footer-logo {
    background: transparent url("../img/logo.png") center no-repeat;
    width: 50px;
  }
  .fscreen-text__title {
    font-size: 28px;
  }
  .s02video-bird {
    width: 20%;
    height: 20%;
  }
  .s02video-player {
    width: 60%;
    height: 60%;
  }
  .menu__head-button {
    padding: 2px 15px;
  }
  .button {
    font-size: 14px;
    padding: 0 25px;
  }
  .s05tarifs ul {
    height: 265px;
    margin-bottom: 20px;
  }
  .s05tarifs-price {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .s05tarifs-block {
    border-top: 1px #ebebeb solid;
    margin-bottom: 20px;
    max-width: 65%;
    margin-right: auto;
    margin-left: auto;
  }
  .s05tarifs-title__gold-flag {
    top: 0px;
    right: 150px;
  }
  .s08social-title {
    margin-bottom: 30px;
    font-size: 18px;
  }
  .s08social-block {
    height: 60px;
    width: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 40px;
    border-radius: 50%;
  }
  .s08social-blocks__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .s08social-block__img {
    padding: 7px 0px;
    border-right: 0px;
  }
  .s08social-block__text {
    display: none;
    margin: 0;
    font-size: 14px;
  }
  .menu-ext {
    display: none;
    height: 0;
  }
  .menu-link {
    display: block;
    left: 0px;
  }
  .menu-link-b {
    display: block;
  }
  .builder-menu {
    left: -200px;
  }
  .builder-menu_active {
    left: 0;
  }
  .section-builder {
    margin-left: 0px;
  }
  .p05invitation-img {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .p05invitation-card__title {
    margin-bottom: 10px;
    max-width: 440px;
    font-size: 18px;
  }
  .p05invitation-card__names {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 25px;
  }
  .p05invitation-card__date {
    margin-bottom: 25px;
    font-size: 22px;
  }
  .p05invitation-card__address {
    font-size: 18px;
  }
  .p06guestList-guest {
    margin-left: 20px;
    font-size: 16px;
  }
  .p09photoAlbum-form__browse {
    display: none;
  }
  .p09photoAlbum-form__name {
    width: 70%;
  }
  .p14letterGuests-img {
    width: 30%;
  }
  .p14letterGuests-form__name {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }
  .p14letterGuests-form__browse {
    display: none;
  }
  .p14letterGuests-form__button-browse {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .p12bookWishes-img {
    background: #fff url("") center no-repeat;
  }
  .p19youtubeVideo-form__name {
    width: 50%;
  }
}

@media (max-width: 767px) {
  section {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .section-title {
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .section-title::after {
    margin-top: 15px;
  }
  .section-subtitle {
    margin-bottom: 20px;
    max-width: 80%;
    font-size: 16px;
  }
  .footer-logo {
    background: transparent;
    width: 1px;
  }
  .menu__head {
    padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 22px;
    font-size: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-ext__head {
    height: 50px;
    top: 0;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .fscreen {
    margin-top: 30px;
  }
  .fscreen-text__text {
    margin-bottom: 30px;
  }
  .fscreen-mouse {
    margin-bottom: 10px;
    padding-bottom: 30px;
  }
  .first-slide {
    margin-bottom: 50px;
  }
  .s05tarifs ul {
    margin-bottom: 10px;
    height: 220px;
  }
  .s05tarifs-title {
    margin-bottom: 45px;
    font-size: 20px;
  }
  .s05tarifs-button {
    margin-bottom: 30px;
  }
  .s05tarifs-block {
    max-width: 85%;
  }
  .s05tarifs-title__gold-flag {
    right: 70px;
  }
  .s08social-block {
    height: 50px;
    width: 50px;
  }
  .p02auth-title {
    text-align: center;
  }
  .p02auth-img {
    width: 40%;
  }
  .p02auth-form {
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .p02auth-btn {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .ppp {
    width: 80%;
  }
  .s05tarifs-modal-title {
    text-align: center;
  }
  .s05tarifs-modal-img {
    width: 40%;
  }
  .s05tarifs-modal-form {
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .s05ppp {
    width: 80%;
  }
  .p04builder-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .section-title {
    font-size: 18px;
  }
  .p06guestList-row {
    height: 100%;
    max-height: 500px;
  }
  .p06guestList-guest {
    margin-left: 15px;
    font-size: 15px;
  }
  .p06guestList-form {
    padding-left: 20px;
    padding-right: 20px;
  }
  .p06guestList-form__name {
    width: 45%;
    margin-bottom: 20px;
  }
  .p06guestList-form__button {
    display: block;
  }
  .p14letterGuests-img {
    display: none;
  }
  .p14letterGuests-block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 576px) {
  .menu-build-button {
    margin-right: 10px;
  }
  .hide-mobile576 {
    display: none;
  }
  .section-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .section-title::after {
    margin-top: 10px;
  }
  .section-subtitle {
    margin-bottom: 15px;
    max-width: 70%;
    font-size: 14px;
  }
  .first-slide {
    margin-bottom: 30px;
  }
  .s08social-block__mobile {
    height: 40px;
    width: 40px;
  }
  .button {
    font-size: 14px;
  }
  .p02auth {
    text-align: center;
  }
  .p02auth-img {
    display: none;
  }
  .p02auth-form {
    text-align: center;
    height: 400px;
  }
  .p02auth-btn {
    display: block;
  }
  .p02auth-buttons {
    text-align: center;
  }
  .s05tarifs-modal {
    text-align: center;
  }
  .s05tarifs-modal-img {
    display: none;
  }
  .s05tarifs-modal-form {
    text-align: center;
    height: 400px;
  }
  .s05tarifs-modal-form input {
    text-align: center;
  }
  .fscreen-text__subtitle {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
  }
  .s03tools-block__text {
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
  .builder-menu {
    width: 100px;
  }
  .section-title {
    font-size: 14px;
  }
  .p05invitation-img {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  .p05invitation-card__title {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .p05invitation-card__names {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .p05invitation-card__date {
    margin-bottom: 25px;
    font-size: 18px;
  }
  .p05invitation-card__address {
    font-size: 16px;
  }
  .p12bookWishes-card__title {
    font-size: 20px;
  }
  .p12bookWishes-blockNew {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p12bookWishes-inputs {
    width: 80%;
  }
  .p14letterGuests-form__name {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
  .p14letterGuests-form__button-browse {
    margin-left: auto;
    margin-right: auto;
  }
  .p19youtubeVideo-form__name {
    width: 90%;
    margin-bottom: 20px;
  }
  .p19youtubeVideo-form__button {
    display: block;
  }
}

@media (max-width: 480px) {
  .s08social-block {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
    margin: 0px 5px;
    max-height: 35px;
    max-width: 35px;
  }
  .button {
    font-size: 12px;
  }
  .menu__head {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .menu__foot {
    font-size: 14px;
  }
  .menu-ext {
    padding-bottom: 10px;
  }
}

@media (max-width: 380px) {
  .s05tarifs ul {
    margin-bottom: 50px;
  }
  .s05tarifs ul-block {
    max-width: 95%;
  }
}
