.footer
	// margin-top: 70px
	padding-top: 36px
	padding-bottom: 39px
	text-align: center
	background: $bg-dark url("../img/bg-menu__bottom.jpg") center no-repeat
	background-size: cover
	&-text
		padding-top: 25px
		opacity: 0.5
		color: #ffffff
		// font-family: "Roboto Light", sans-serif
		font-size: 13px
		font-weight: 300
		line-height: 17px
		border-top: 2px $text-color-gray solid
		color: #ffffff
		font-family: "Open Sans"
		font-size: 13px
		font-weight: 300
		line-height: 17px
 		// box-shadow: 3px 0 0 3px red, 3px 0 0 6px blue, 3px 0 0 6px orange
	&-logo
		background: transparent url("../img/logo-mywedding.png") center no-repeat
	  background-size: 100%
		width: 211px
		height: 34px
		z-index: 15


