.fscreen
	margin-top: 50px
	padding-bottom: 50px
	text-align: center
	&-slider__dots
		// color: yellow
		position: absolute
		top: 50px
		right: -50px
		&__app
			display: inline-block
			position: absolute
			top: 0
			right: 0

.slick-dots
	position: absolute
	top: 50px
	right: -50px
	li button
		display: none
	ul
		list-style-type: circle

