section
	padding-top: 60px
	padding-bottom: 60px

.section
	text-align: center
	&-title
		// font-family: "Roboto Bold", sans-serif
		// margin-top: 90px
		margin-bottom: 20px

		color: $text-section-color
		font-family: "Amsdam cyr-lat"
		font-size: 28px
		font-weight: bold
		line-height: 30px
			// text-transform: uppercase
		text-align: center
		&::after
			content: ""
			margin-top: 25px
			display: block
			height: 6px
			background: url("../img/01_main/pink-line.svg") center no-repeat
			// text-align: center
		&__build
			color: #484848


	&-subtitle
		margin: auto
		margin-bottom: 40px
		max-width: 80%
		color: $text-section-color
		font-family: 'Proxima Nova'
		font-size: 18px
		font-weight: 300
		text-align: center
		&-builder
			max-width: 430px



.button
	min-height: 50px

	font-family: "Proxima Nova Semibold"
	font-size: 15px
	font-weight: 400

	background-color: $active-color
	border: 1px solid transparent
	color: $text-color-light
	padding: 5px 35px
	border-radius: 25px
		
	&:hover
		background-color: lighten($active-color, 10)
		cursor: pointer
	img
		vertical-align: middle

	&-o
		background-color: transparent
		color: $text-color-dark
		border: 1px solid rgba($text-color-dark, 0.5)
		&:hover
			color: $text-color-light
			background-color: lighten($active-color, 5)
			border: 1px solid transparent
			cursor: pointer
	&-hel
		color: #ffffff
		font-family: "Helvetica Neue Cyr"
		font-size: 16px
		font-weight: 700
	&-small
		min-height: 40px


//  Затемнение фона 
.dark-bg	
	position: relative
	z-index: 2
	&::before
		content: ""
		display: block
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: -1
	&3
		&::before
			background-color: rgba( 0, 0, 0, 0.3)
	&5
		&::before
			background-color: rgba( 0, 0, 0, 0.5)
	&8
		&::before
			background-color: rgba( 0, 0, 0, 0.8)

.grad	
	position: relative
	z-index: 2
	&::after
		content: ''
		background: linear-gradient(to bottom right, #89d8f7, #ffc4ce)
		position: absolute
		display: inline-block
		opacity: 0.3
		z-index: -1
		left: 0
		top: 0
		width: 100%
		height: 100%

.player	
	// position: relative
	background: url("../img/01_main/2.video/video.jpg")
	background-size: cover
	z-index: 555
	// &::after
		// content: ''
		// background: url("../img/01_main/2.video/video.jpg")
		// background-size: cover
		// position: absolute
		// left: 0
		// top: 0
		// width: 100%
		// height: 100%

