@media (max-width: 1200px)  
	.s07contacts
		textarea
			width: 100%

	// .player
		// width: 300px	
	.s02video
		&-bird
			width: 20%
			height: 20%

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

@media (max-width: 991px)  
	.header
		&-logo
			background: transparent url("../img/logo.png") center no-repeat
			width: 50px	
	.footer
		&-logo
			background: transparent url("../img/logo.png") center no-repeat
			width: 50px	
	.fscreen
		&-text
			&__title
				font-size: 28px;

	.s02video
		&-bird
			width: 20%
			height: 20%
		&-player
			width: 60%
			height: 60%
			
	.menu__head
		&-button
			padding: 2px 15px		

	.button
		font-size: 14px	
		padding: 0 35px	

	.s05tarifs
		ul
			height: 265px
			margin-bottom: 20px

		&-price
			margin-top: 5px
			margin-bottom: 20px
			font-size: 20px

	// .s07contacts
	// 	textarea
	// 		// width: 500px
	// 	input
	// 		width: 100%
	// 	label
	// 		font-size: 14px
	// 		margin-left: 5px

	.s08social

		&-title
			margin-bottom: 30px
			font-size: 18px
		&-block
			// flex-basis: 10%	
			height: 60px
			width: 60px
			justify-content: center
			align-items: center
			// text-align: center
			margin: 0px 40px
			// padding: 5px 
			border-radius: 50%

			&__img
				padding: 7px 0px
				border-right: 0px

			&__text
				display: none
				margin: 0
				font-size: 14px


// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

@media (max-width: 767px)  

	section
		padding-top: 30px
		padding-bottom: 40px

	.section
		&-title
			// margin-bottom: 35px
			font-size: 24px
			margin-bottom: 25px
	
			&::after
				margin-top: 15px

		&-subtitle
			margin-bottom: 20px
			max-width: 80%
			font-size: 16px


	.header
		&-logo
			background: transparent 
			width: 1px	
	.footer
		&-logo
			background: transparent 
			width: 1px	

	.menu
		&__head
			padding-top: 17px
			padding-bottom: 17px
			margin-bottom: 22px
			font-size: 12px;
			flex-direction: column
			&-button
				display: none

		&__foot
			font-size: 12px
			flex-direction: column
			&-button
				display: none


		&-ext
			&__head
				height: 50px
				top: 0
				padding-top: 10px
				padding-bottom: 30px


	.fscreen
		margin-top: 30px
		&-text
			&__text
				margin-bottom: 30px

		&-mouse
			margin-bottom: 10px
			padding-bottom: 30px


	.first-slide
		margin-bottom: 50px


	.s05tarifs
		ul
			margin-bottom: 10px
			height: 220px

		&-title
			margin-bottom: 45px
			font-size: 20px
		&-button
			margin-bottom: 30px

	.s08social
		&-block
			&s
				justify-content: center
			height: 50px
			width: 50px
			margin: 0px 25px

	.p02auth
		&-title
			text-align: center
		&-img
			// display: none
			width: 40%
		&-form
			padding-left: 0
			margin-left: auto
			margin-right: auto

		&-btn
			display: block
			margin-bottom: 20px
			margin-left: auto
			margin-right: auto
	.ppp
		width: 80%
		&-form


// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

@media (max-width: 576px)

	.section
		&-title
			// margin-bottom: 35px
			font-size: 20px
			margin-bottom: 15px
	
			&::after
				margin-top: 10px

		&-subtitle
			margin-bottom: 15px
			max-width: 70%
			font-size: 14px
	
	.first-slide
		margin-bottom: 30px
	
	
	.s08social
		&-block

			flex-basis: 10%	
			margin: 0px 10px
	.button
		font-size: 14px

	.p02auth
		text-align: center
		&-img
			display: none
			// width: 40%
		&-form
			text-align: center
			height: 400px

		&-btn
			display: block

		&-buttons
			text-align: center



// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

@media (max-width: 480px)
	.s08social
		&-block
			flex-basis: 10%	
			margin: 0px 5px
			max-height: 35px
			max-width: 35px

	.button
		font-size: 12px
		// padding: 0

	.menu
		&__head
			padding-top: 7px
			padding-bottom: 7px
			margin-bottom: 10px
			font-size: 10px;

		&__foot
			font-size: 10px

		&-ext	
			&__foot
			// height: 50px
			padding-bottom: 10px

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

// @media (max-width: 360px)
