.p07locationMap
	// text-align: center
	// margin: auto
	&-tabs
		text-align: center
	&-form
		margin-top: 100px
		margin-bottom: 50px
		padding-top: 50px
		padding-bottom: 50px
		padding-right: 40px
		padding-left: 40px
		text-align: center

		background-color: #faf9f9
		&__label
			width: 70%
			margin-bottom: 20px
			color: #333333
			font-family: "Proxima Nova"
			font-size: 21px
			font-weight: bold
			line-height: 30px
		&__name
			// margin-left: 200px
			width: 70%
			height: 50px;
			padding-left: 15px
			border: 1px #ededed solid

			width: 70%
			// height: 56px
			&:placeholder
				color: #606060
				font-family: "Proxima Nova"
				font-size: 15px
				font-weight: 300
				line-height: 24px


	&-button
		&-left
			border-top-left-radius: 5px
			border-bottom-left-radius: 5px
			border-top-right-radius: 0px
			border-bottom-right-radius: 0px
			margin-right: -2px
		&-right
			margin-left: -2px
			border-left: 0px  #fff solid
			border-top-left-radius: 0px
			border-bottom-left-radius: 0px
			border-top-right-radius: 5px
			border-bottom-right-radius: 5px



.button
	&-wobr
		margin-bottom: 30px
		// border-radius: 1px	
