
*
	box-sizing: border-box
	&:focus
		outline: none
	
body
	margin: 0
	overflow-x: hidden
	min-height: 100vh;
	height: 100%;

textarea
	resize: none
img
	max-width: 100%
input, button
	outline: none
	box-shadow: none
	&:focus
		outline: none
		box-shadow: none
	&:invalid
		box-shadow: none
		outline: none

section
	overflow-x: hidden			
	outline: none
	

h3, h4, h5, h6
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;

.mb100
	margin-bottom: 100px
.mb200
	margin-bottom: 200px
