.s03tools
	background-color: $bg-gray
	text-align: center
	// margin: auto
	&-block
		margin-bottom: 60px
		&__title	
			// text-align: center
			color: #484848
			font-family: "Proxima Nova"
			line-height: 20.99px
			font-size: 18px
			// font-family: "Proxima Nova Rg"
			font-weight: 700
		&__text
			color: #333333
			font-size: 16px
			font-family: "Proxima Nova"
			font-weight: 300

	&-text
		color: #333333
		font-family: "Proxima Nova - Semibold"
		font-size: 21px
		font-weight: 400
		line-height: 20.99px

	img
		margin-bottom: 15px	
