.s06about
	&-title
		margin-top: 20px
		color: $text-section-color
		font-family: "Proxima Nova Bold"
		font-size: 18px
		font-weight: 700

	&-text
		color: $color-about-text
		font-family: "Proxima Nova"
		font-size: 16px
		font-weight: 300
		line-height: 24px

