.s07contacts
	background-color: $bg-gray
	padding-top: 40px
	padding-bottom: 20px
	&-name
		background: #fff url("../img/01_main/7.contacts/icon1.png") no-repeat scroll 8px 14px
	&-email
		background: #fff url("../img/01_main/7.contacts/icon2.png") no-repeat scroll 8px 14px
		// padding-left: 35px
	&-message
		padding-left: 35px
		background: #fff url("../img/01_main/7.contacts/icon3.png") no-repeat scroll 8px 8px

	&-inputs
		vertical-align: middle
		// padding-bottom: 50px
		height: 100%

	textarea
		border: 1px #ededed solid
		resize: none
		height: 145px
		// width: 700px
		width: 100%
		&:placeholder
			vertical-align: middle
	input
		border: 1px #ededed solid
		padding-left: 35px
		width: 100%
		height: 50px
	label
		padding-bottom: 10px
		margin-left: 15px
		color: #b6b6b6
