.s08social

	&-title
		text-align: center
		margin-bottom: 40px
		// Style for "Мы в социа"
		color: #333333
		font-family: "Proxima Nova - Semibold"
		font-size: 21px
		font-weight: 400
		line-height: 2
	&-block
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center

		margin: 0px 7px
		padding: 5px 
		// padding-right: 15px	
		flex-basis: 20%	
		border-radius: 7px 
		// text-align: center
		&s
			display: flex
			flex-direction: row
			justify-content: space-between
		&1
			background-color: #21579f
		&2
			background-color: #4c77a4
		&3
			background-color: #f68529
		&4
			background-color: #943ba7
		&5
			background-color: #e61f19


		&__img
			padding: 10px 12px
			border-right: 1px #fff solid
			// text-align: left

		&__text
			// display: inline-block
			color: #ffffff
			text-align: center
			margin: auto
			font-family: "Proxima Nova Rg"
			// - Semibold"
			font-size: 15px
			font-weight: normal
			line-height: 21px

			
			
			
			