$active-color: #fa7995
$bg-dark: #333333
$bg-gray: #faf8f9
$bg-ind-3section: #faf9f9;

	
$bg-light: #fff
$text-color-light: #ffffff
$text-color-gray: #999999
$text-section-color: #333333

$menu-left-bgcolor: #f9f9f9
$menu-left-line: #f97b93
$menu-left-bgactive: #f0f0f0
$menu-bg-color:  #333333

$text-color-dark: #373737
$bg-color-light: #f4f4f4
$border-color: #cfcfd0



$color-basic: #7c7c7c
$color-silver: #69c2f5
$color-gold: #70cb83

$color-about-text: #484848

// $border-color: #e6e6e6
// $footer-color:	#8d8d8d



