$active-color: #fa7995
$bg-dark: #333333
$bg-gray: #faf8f9
$bg-light: #fff
$text-color-light: #ffffff
$text-color-gray: #999999

$text-color-dark: #373737
$bg-color-light: #f4f4f4
$border-color: #cfcfd0
// $border-color: #e6e6e6
// $footer-color:	#8d8d8d



